img {
    width: 106px;
    height: 150px;
    border: 1px solid lightgrey;
    display: block;
    float: left;
    margin: none;
}

img {margin-bottom: 10px; box-shadow: 3px 3px 0px darkgrey; background-color: white;}
img:nth-of-type(odd) {margin-right: 20px; }

/* img:nth-of-type(32n+1) { clear: left;} */

